@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    background-color: #000c23;
}

section.projetos {
    display: grid;
    align-content: center;
    justify-content: center;
}

/*Projeto Cordel*/
@media screen and (max-width:600px) {
    header {
        width: 95vw;
    }

    header > h1 {
        text-align: center;
        color: #000c33;
        text-shadow: 3px -2px 2px darkkhaki;
        font-size: 8vw;
        margin-top: 20px;
    }

    main {
        width: 96vw;
    } 

    section.projetos {
        background-color: darkkhaki;
        display: flex;
        justify-content: center;
        align-items: center;
        }

    section#cordel {
        border-radius: 20px;
        background-image: url('../imagem/cordel.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        top: 7px;
        left: 11%;
        width: 400px;
        height: 400px;
    }

    section#cordel > a > h2 {
        color: #000c33;
        text-shadow: 3px -2px 2px darkkhaki;
        font-size: 6vw;
        transform: translate(0px, -172px);
    }

   a {
    text-decoration: none;
   }
   
   a > h2:hover {
   background-color: burlywood;
   border-radius: 5px;
   }

   a > h2::before {
    content: '↪';
    text-decoration: underline;
   }
}

@media screen and (min-width:600px) and (max-width:780px) {
    header {
        width: 96vw;
    }

    header > h1 {
        text-align: center;
        color: #000c33;
        text-shadow: 3px -2px 2px darkkhaki;
        font-size: 8vw;
        margin-top: 20px;
    }

    main {
        width: 96vw;
        margin: auto;
    } 

    section#cordel {
    border-radius: 50px;
    background-image: url('../imagem/cordel.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 7px;
    left: 13%;
    width: 500px;
    height: 500px;
    }

    section#cordel > a > h2 {
    color: aliceblue;
    text-shadow: 3px -2px 2px black;
    font-size: 5.1vw;
    transform: translate(0px, -223px);
    }

   a {
    text-decoration: none;
   }
   
   a > h2:hover {
   background-color: rgba(128, 128, 128, 0.568);
   border-radius: 5px;
   }

   a > h2::before {
    content: '↪';
    text-decoration: underline;
   }
}

@media screen and (min-width:780px) and (max-width:992px) {
    header {
        width: 96vw;
    }

    header > h1 {
        text-align: center;
        color: #000c33;
        text-shadow: 3px -2px 2px darkkhaki;
        font-size: 8vw;
        margin-top: 20px;
    }

    main {
        width: 96vw;
        margin: auto;
    } 

    section#cordel {
    border-radius: 50px;
    background-image: url('../imagem/cordel.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 7px;
    left: 15%;
    width: 601px;
    height: 346px;
    }

    section#cordel > a > h2 {
        color: aliceblue;
    text-shadow: 3px -2px 2px black;
    font-size: 5.1vw;
    transform: translate(0px, -146px);
    }

   a {
    text-decoration: none;
   }
   
   a > h2:hover {
   background-color: rgba(128, 128, 128, 0.568);
   border-radius: 5px;
   }

   a > h2::before {
    content: '↪';
    text-decoration: underline;
   }
}  

@media screen and (min-width:992px) and (max-width:1200px) {
    header {
        width: 96vw;
    }

    header > h1 {
        text-align: center;
        color: #000c33;
        text-shadow: 3px -2px 2px darkkhaki;
        font-size: 8vw;
        margin-top: 20px;
    }

    main {
        width: 96vw;
        margin: auto;
    } 

    section#cordel {
    border-radius: 50px;
    background-image: url('../imagem/cordel.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 7px;
    left: 15%;
    width: 664px;
    height: 400px;
    }

    section#cordel > a > h2 {
        color: aliceblue;
    text-shadow: 3px -2px 2px black;
    font-size: 5.1vw;
    transform: translate(0px, -166px);
    }

   a {
    text-decoration: none;
   }
   
   a > h2:hover {
   background-color: rgba(128, 128, 128, 0.568);
   border-radius: 5px;
   }

   a > h2::before {
    content: '↪';
    text-decoration: underline;
   }
}

@media screen and (min-width:1200px) {
    header {
        width: 96vw;
    }

    header > h1 {
        text-align: center;
        color: #000c33;
        text-shadow: 3px -2px 2px darkkhaki;
        font-size: 8vw;
        margin-top: 20px;
    }

    main {
        width: 96vw;
        margin: auto;
    } 

    section#cordel {
    border-radius: 30px;
    background-image: url('../imagem/cordel.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 7px;
    left: 20%;
    width: 732px;
    height: 399px;
    }

    section#cordel > a > h2 {
        color: aliceblue;
        text-shadow: 3px -2px 2px black;
        font-size: 5.1vw;
        transform: translate(0px, -160px);
    }

   a {
    text-decoration: none;
   }
   
   a > h2:hover {
   background-color: rgba(128, 128, 128, 0.568);
   border-radius: 5px;
   cursor: grab;
   }

   a > h2::before {
    content: '↪';
    text-decoration: underline;
   }
}